:root {
  --hue: 237;
  --light: hsl(var(--hue), 5%, 95%);
  --dark: hsl(var(--hue), 40%, 15%);
  --light-grey: hsl(var(--hue), 20%, 55%);
  --dark-grey: hsl(var(--hue), 20%, 45%);
  --light-link: hsl(var(--hue), 80%, 70%);
  --light-hover: hsl(var(--hue), 55%, 55%);
  --dark-link: hsl(var(--hue), 55%, 55%);
  --dark-hover: hsl(var(--hue), 70%, 40%);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#page {
  --background: var(--light);
  --foreground: var(--dark);
  --link: var(--dark-link);
  --hover: var(--dark-hover);
  --grey: var(--light-grey);
  color: var(--foreground);
  background-color: var(--background);
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  place-items: center;
}

#page.dark {
  --foreground: var(--light);
  --background: var(--dark);
  --link: var(--light-link);
  --hover: var(--light-hover);
  --grey: var(--dark-grey);
}

.app {
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--grey);
}

a, .night-and-day--switcher {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
  transition: all 0.5s;
  &:hover {
    color: var(--hover);
  }
}
.theme {
  font-size: 3rem;
}
.time {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 5rem;
  line-height: 1.2;
  font-family: ui-monospace,
      Menlo, Monaco,
      "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono",
      "Oxygen Mono",
      "Ubuntu Monospace",
      "Source Code Pro",
      "Fira Mono",
      "Droid Sans Mono",
      "Courier New", monospace;
  .spacer {
    color: var(--grey);
  }
  & > * {
    .caption {
      display: block;
      text-align: center;
      font-size: 0.8rem;
    }
  }
}

footer {
  margin-top: 3rem;
  a {
    display: block;
    margin-bottom: 0.5rem;
  }
  a.icon svg {
    height: 2.5rem;
    margin-top: 1rem;
  }
}